.about-summary-content {
    padding-left: 40px;
    i {
        display: inline-block;
        margin-bottom: 20px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 35px;
        color: #878787;
        font-size: rem(15px);
    }
}