.get-subscribenow-content {
    .section-title {
        margin-bottom: 15px;
    }
    p {
        color: #1e1e1e;
        margin-bottom: 32px;
    }
    .btn.icon-left > i {
        padding-right: 8px;
    }
}